<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Secrecy </title>

    <link rel="icon" href="favicon/favicon.ico" />
    <link rel="apple-touch-icon" href="favicon/logo192.png" />

    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />


    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta
      name="description"
      content="An exclusive clubhouse where members can write anonymous posts and only authenticated members can see the post's author."
    />

  </head>

<body>

  <% if (user) {%>

    <header>
      <nav>
        <a class="logo" href="#">SECRECY</a>
        <div>
          <form action="/logout" method="POST">
          <button type="submit">LOG OUT</button>
          </form>
        </div>
      </nav>
      <nav>
              <a href="/newmessage">NEW MESSAGE</a>
              <a href="/memberstatus">MEMBER STATUS</a>
      </nav>
  </header>

  <% } else { %>

    <header>
      <nav>
        <a class="logo" href="/">SECRECY</a>
      </nav>
      <nav>
              <a href="/signup">SIGN UP</a>
              <a href="/login">LOG IN</a>
      </nav>
  </header>

  <% } %>
    
    <ul>

      <%if (!user) {%>
        <li>
          <p>You must be logged in to create your own messages and see when each message was posted.</p>
        </li>
      <% } else if (user.status == "Default") {%>
        <li>
          <p>You must become a member to be able to see post's authors.</p>
        </li>
      <% } %>

      <% if (typeof messages != "undefined") { %>
        <% messages.forEach((message) => { %>
            <li>
                <h2><%= message.title %></h2>
                <p><%= message.content %></p>

                <% if(user && (user.status == "Admin" || user.status == "Member")) { %>
                  <span class="fullname"><%= message.user.fullname %></span>
                <% } else { %>
                  <span class="fullname">-Anonymous</span>
                <% } %>

                <% if (user) { %>
                  <span class="timestamp"><%= message.timestamp_formatted %></span>
                <% } %>

            </li>
        <% }) %>
      <% } else { %>
          <li>
            <p>No messages.</p>
          </li>
      <% } %>

    </ul>

</body>
</html>
