<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Secrecy | New Message </title>

    <link rel="icon" href="favicon/favicon.ico" />
    <link rel="apple-touch-icon" href="favicon/logo192.png" />

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta
      name="description"
      content="An exclusive clubhouse where members can write anonymous posts and only authenticated members can see the post's author."
    />

  </head>

<body>

    <header>
        <nav class="logo">
          <a href="#">SECRECY</a>
        </nav>
        <nav>
                <a href="#">SIGN UP</a>
                <a href="#">LOG IN</a>
        </nav>
    </header>

    <% if (!user) {%>
      <p>You must be logged in.</p>
    <% } else { %>
      <form action="" method="POST">
        <label for="title">Title</label>
        <input name="title" placeholder="title" id="title" type="text" />
        <label for="content">Content</label>
        <input name="content" type="text" id="content" />
        <button>Post</button>
      </form>
    <% } %>

</body>
</html>