<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title> Secrecy | New Message </title>

    <link rel="icon" href="favicon/favicon.ico" />
    <link rel="apple-touch-icon" href="favicon/logo192.png" />

    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/newmessage.css' />

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta
      name="description"
      content="An exclusive clubhouse where members can write anonymous posts and only authenticated members can see the post's author."
    />

  </head>

<body>

  <% if (user) {%>

    <header>
      <nav>
        <a class="logo" href="/">SECRECY</a>
        <div>
          <form action="/logout" method="POST">
          <button type="submit">LOG OUT</button>
          </form>
        </div>
      </nav>
      <nav>
              <a href="/newmessage">NEW MESSAGE</a>
              <a href="/memberstatus">MEMBER STATUS</a>
      </nav>
  </header>

  <% } else { %>

    <header>
      <nav>
        <a class="logo" href="/">SECRECY</a>
      </nav>
      <nav>
              <a href="/signup">SIGN UP</a>
              <a href="/login">LOG IN</a>
      </nav>
  </header>

  <% } %>

    <% if (!user) {%>

      <p>You must be logged in.</p>

    <% } else if( typeof currentData != "undefined") { %>

      <form class="theform" action="" method="POST">
        <label for="title">Title</label>
        <input name="title" id="title" type="text" value="<%= currentData.title %>" />
        <label for="content">Content</label>
        <input name="content" type="text" id="content" value="<%= currentData.content %>" />
        <button>Post</button>
      </form>

    <% } else { %>

      <form class="theform" action="" method="POST">
        <label for="title">Title</label>
        <input name="title" id="title" type="text" />
        <label for="content">Content</label>
        <input name="content" type="text" id="content" />
        <button>Post</button>
      </form>

    <% } %>

    <% if(typeof errors != "undefined"){ %>
      <ul>
          <% if (errors.length) { %>
              <% errors.forEach((error) => { %>
                  <li>
                     <%= error %>
                  </li>
              <% }) %>
          <% } %>
      </ul>
    <% } %>

</body>
</html>