<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Secrecy | Sign Up </title>

    <link rel="icon" href="favicon/favicon.ico" />
    <link rel="apple-touch-icon" href="favicon/logo192.png" />

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta
      name="description"
      content="An exclusive clubhouse where members can write anonymous posts and only authenticated members can see the post's author."
    />

  </head>

<body>

    <header>
        <nav class="logo">
          <a href="#">SECRECY</a>
        </nav>
        <nav>
                <a href="#">SIGN UP</a>
                <a href="#">LOG IN</a>
        </nav>
    </header>

    <% if (user) {%>
      <p>You are already logged in.</p>
    <% } else { %>
      <form action="" method="POST">
        <label for="fullname">Fullname</label>
        <input type="text" name="fullname" id="fullname"/>
        <label for="username">Username</label>
        <input name="username" type="text" id="username" />
        <label for="password">Password</label>
        <input name="password" type="password" id="password" />
        <button>Sign Up</button>
      </form>
    <% } %>  

</body>
</html>