ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    list-style-type: none;
    color: white;
    font-family: var(--raleway);
}

li {
    width: 90%;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    text-align: center;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}

.fullname, .timestamp {
    text-align: end;
}

.pagination-number.active {
    color: #383d45;
    background: #ffffff;
}

    .hidden {
    display: none
}

.pagination-container {
    min-height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1em;
    color: white;
    z-index: 2;
    font-family: var(--raleway);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-container button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.pagination-container button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
