ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    list-style-type: none;
    color: white;
    font-family: var(--raleway);
}

li {
    width: 90%;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    text-align: center;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}

.fullname, .timestamp {
    text-align: end;
}